<% if (!user) { %>
  <h2>Welcome! Please log in.</h2><br />
  <a href="/login/?p=B2C_1_signin">Sign In</a><br />
  <a href="/login/?p=B2C_1_signup">Sign Up</a><br />
  <a href="/login/?p=B2C_1_updateprofile">Update Profile</a><br />
  <a href="/login/?p=B2C_1_resetpassword">Reset Password</a><br />
  <a href="/login/?p=B2C_1_signin_or_signup">signin or signup with different UI</a><br />
<% } else { %>
  <h2>Hello , <%= user.emails %>.</h2>
  <a href="/account">Account Info</a><br/>
  <a href="/upload">upload</a><br/>
  <a href="/Display">list</a><br/>
  <a href="/logout">Log Out</a>
<% } %>
